#root {
  margin: 0 auto;
  padding: 2rem;
  background-color: #eeeeee;
}

.app {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

/* input  */

.input {
  margin-top: 0.5rem;
  padding: 0.2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.input > label {
  font-weight: 700;
  font-size: 1rem;
}
.input > input {
  padding: 0.6rem;
  font-size: 1.1rem;
  background-color: #77777717;
  border: 1px solid #77777717;
  border-radius: 14px;
}

/*  cv edit  */

.cv-edit {
  width: 550px;
  height: 297mm;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.cv-edit::-webkit-scrollbar {
  width: 15px; /* Width of the entire navigation element */
}

.cv-edit::-webkit-scrollbar-track {
  background: #fff; /* Color of the track */
}

.cv-edit::-webkit-scrollbar-thumb {
  background-color: #050c26; /* Thumb color */
  border-radius: 20px; /* Roundness of the thumb */
  border: 3px solid #050c26; /* Thumb border styling */
}

.edit-section {
  background-color: white;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid transparent;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.edit-section > h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.edit-section > button {
  margin-top: 1rem;
  align-self: center;

  border-radius: 20px;
}
.edit-section > .item:first-of-type {
  border-top: 5px solid #eeeeee;
}
.edit-section > .item {
  padding: 1rem 0.6rem;
  border-bottom: 5px solid #eeeeee;
}
.edit-section > .item > form > .date-inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.edit-section > .item > form > .date-inputs > .input {
  width: 100%;
  min-width: 0;
}
.edit-section > .item > form > button {
  margin-top: 1rem;
  margin-left: 1rem;
}

.item-closed {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-closed:hover {
  cursor: pointer;
}
.item-closed > h2 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.buttons {
  display: flex;
  gap: 0.2rem;
}
.buttons > button {
  padding: 0.5rem;
  background-color: #eeeeee83;
}
.buttons > button:hover {
  background-color: #eeeeee;
  border-color: transparent;
}
.buttons > button:focus {
  outline-color: transparent;
}

/* cv canvas  */

.cv-canvas {
  /* A4 size */
  width: 210mm;
  height: 297mm;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.personal-info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  border-bottom: 6px solid black;
}

.personal-info > .name {
  margin: 0;
  font-size: 3rem;
}

.info {
  align-self: stretch;
  display: flex;
  justify-content: space-around;
}
.info > * {
  display: flex;
  gap: 0.2rem;
  font-size: 1.2rem;
}
.job-title {
  font-size: 1.2rem;
}

.title {
  display: flex;
  gap: 0.3rem;
  background-color: rgba(0, 0, 0, 0.068);
}

.education > .item,
.experience > .item {
  display: flex;
  gap: 3rem;
  margin-bottom: 0.8rem;
}
.flex-col {
  min-width: 150px;
}

.education,
.experience {
  padding: 0 3rem;
  margin-top: 2rem;
}
